@import url('https://fonts.googleapis.com/css?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700&display=swap');

.adjust {
	margin-top: 60px;
}

.adjustment {
	margin-top: 85px;
}
.t-text {
	font-size: 16px;
	text-transform: capitalize;
	text-align: center;
}
.t-text-1 {
	font-size: 16px;
}

.t-text-2{
	font-size: 16px;
	font-weight: bold;
}
.t-text-3{
	font-size: 14px;
	font-weight: bold;
}

.t-text-4{
	text-transform: capitalize;
	font-size: 14px;
	font-weight: bold !important;
}

.t-text-5 {
	font-size: 18px;
	text-transform: capitalize;
}

.text-display-1 {
    font-family: "Play", sans-serif;
    font-size: 1.7em;
    line-height: 2.5em;
}

.text-display-2 {
    font-family: "Play", sans-serif;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 30px;
	text-align: center;
}

button a {
	color: #fff;
}
button a:hover {
	color: #fff;
	text-decoration: none;
}

.btn-custom {
	background-color: #D5A044;
	font-family: 'Play';
	font-weight: bold !important;
	color: #fff;
	margin-top: 15px;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
	color: #fff !important;
}
/**/
.it .btn-orange
{
	background-color: transparent;
	border-color: #777!important;
	color: #777;
	text-align: left;
 	width:100%;
}
.it input.form-control
{
	height: 43px;
	border:none;
  	margin-bottom:0px;
	border-radius: 0px;
	border-bottom: 1px solid #ddd;
	box-shadow: none;
}
.it .form-control:focus
{
	border-color: #132d60;
	box-shadow: none;
	outline: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.it .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.it .btn-next
{
	border-radius: 0px;
	background-color: #132d60;
	color: #fff;
	font-size: 19px;
	width: 145px;
}

.it .btn-next:hover {
	color: #fff;
}
.it .uploadDoc
{
	margin-bottom: 50px;
}
.it .btn-orange img {
    width: 30px;
}
.it p
{
  font-size:16px;
  text-align:center;
  margin:30px 0px;
}
.it #uploader .docErr
{
	position: absolute;
    right:auto;
    left: 10px;
    top: -56px;
    padding: 10px;
    font-size: 15px;
    background-color: #fff;
    color: red;
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.2);
    display: none;
}
.it #uploader .docErr:after
{
	content: '\f0d7';
	display: inline-block;
	font-family: FontAwesome;
	font-size: 50px;
	color: #fff;
	position: absolute;
	left: 30px;
	bottom: -40px;
	text-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}
.scrollable-content {
    height: 240px;
    overflow: scroll;
    overflow-x: hidden;
}

.scrollable-content li {
   list-style-type: none;
}

.scrollable-content li a {
	padding: 7px;
	display: inline-block;

}

.scrollable-content li a:hover, .scrollable-content li a:focus  {
	background-color: #132d60;
	border-radius: 4px;
	color: #fff;
	margin-bottom: 4px;
}

.scrollable-content span.time {
	display: inline-block;
	font-family: "Play";
}

.course-dtls .tabs-blocks .nav-tabs > li > a {
	font-size: 18px;
	font-weight: bold;
	line-height: 27px;
	font-family: "Play";
}
.container-custom{
margin-right: auto;
margin-left: 5%;
max-width: 65%;
}

li .status {
	display: inline-block;
	width: 8px;
	height: 8px;
	position: absolute;
	right: 10px;
	z-index: 1031;
	margin-top: 14px;
	border-radius: 50%;
}

.sidebar-size-4 {
		width: 350px;
	}

li.online .status {
	background: #8bbf61;
}

li.away .status {
	background: #f0ad4e;
}
li.busy .status {
	background: #132d60;
}
.t-text-6 {
	font-size: 18px;
	text-transform: capitalize;
	font-weight: bold;
	font-family: "Play";
}
.text-display-3 {
    font-family: "Play", sans-serif;
    font-size: 1.8em !important;
    line-height: 1.5em !important;
    text-transform: capitalize;
    font-weight: bold;
}

.text-display-4 {
    font-family: "Play", sans-serif;
    font-size: 1.4em !important;
    line-height: 1em !important;
    text-transform: capitalize;
    font-weight: bold;
}

.m-cs {
	background: #132d60;
	padding: 8px;
	border-radius: 3px;
	color: #fff;
	margin-right: 10px;
	display: inline-block;
}
.checked {
	color: #D5A044;
	font-size: 20px;
}

.tutor-profile .pro-info {
	margin-top: 10px;
	padding: 15px 0;
}
.tutor-profile .name {
	padding-left: 10px;
}
.tutor-profile .nav {
	border-bottom: 2px solid #f5f5f5;
	background-color: #d9edf7;
}
.tutor-profile .nav > li.active {
	background-color: #132d60;
}
.tutor-profile .nav > li.active > a {
	color: #fff;
}
.tutor-profile .nav > li > a {
	font-family: "Play";
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
}
.tutor-profile .nav > li > a:hover, .tutor-profile .nav > li > a:focus {
	background-color: #132d60;
	color: #fff;
}
/**/

/*************************************/
/************Star Ratings*************/
/*************************************/
.rate {
    float: left;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
/*************************************/
/************Star Ratings*************/
/*************************************/

/*************************************/
/****************login****************/
/*************************************/
.login {
	position: initial;
	padding-top: 0;
}
.login #content {
	max-width: 760px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.login .lock-container {
	margin: auto;
	width: 300px;
	padding-top: 80px;
	padding-bottom: 100px;
}
@media (max-width: 480px) {
	.login .lock-container {

	}
}
.login .lock-container h1 {
	text-align: center;
	color: #132d60;
	font-size: 28px;
}
.login .lock-container .panel {
	max-width: 300px !important;
	background: #fff;
	top: 130px;
	border-radius: 0;
}
.login .lock-container .panel p {
	padding: 0px 10px;
	font-weight: bold;
}
.login .lock-container .panel input {
	margin-bottom: 10px;
}
.login .lock-container .panel .btn {
	margin-top: 10px;
}
.login .lock-container .panel .forgot-password {
	margin: 10px 0 0;
	font-weight: 500;
	color: #132d60;
	display: block;
}


.tutor-signup {
	padding-top: 120px;
	padding-bottom: 60px;
}

.tutor-signup .brand-logo {
  display: inline-block;
  background: #e8e8e8;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 515px;
  width: 100px;
  height: 100px;
  line-height: 60px;
  padding-left: 25px;
padding-top: 15px;
}
.tutor-signup .brand-logo img {
  width: 100%;
}
.tutor-signup .brand-logo i {
  font-size: 60px;
  color: #6e7882;
  vertical-align: middle;
}

/***********************************/
/***************signup**************/
/***********************************/
.tutor-signup input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
	line-height: 17px;
}
.signup-form {
	width: 385px;
	margin: 30px auto 90px;
}
.signup-form form {        
    background: #fff;
    padding: 30px;
    border-radius: 0%;
    margin-top: 140px;
	margin-bottom: 15px;
}
.signup-form h2 {
    margin: 0 0 15px;
    color: #132d60;
}
.signup-form .form-control, .login-btn {
    min-height: 38px;
    border-radius: 2px;
}
.signup-form .input-group-addon .fa {
    font-size: 18px;
}
.signup-form .login-btn {
    font-size: 15px;
    font-weight: bold;
}
.signup-form .btn-block {
    display: block;
	width: 55%;
	margin: auto;
}
.signup-form .btn-block a{
    color: #fff;
    text-decoration: none;
}
.signup-form .social-btn .btn {
	border: none;
    margin: 10px 3px 0;
    opacity: 1;
}
.signup-form .social-btn .btn:hover {
    opacity: 0.9;
}
.signup-form .social-btn .btn-primary {
    background: #507cc0;
}
.signup-form .social-btn .btn-info {
	background: #64ccf1;
}
.signup-form .social-btn .btn-danger {
	background: #df4930;
}
.signup-form .or-seperator {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.signup-form .or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}
.signup-form  .text {
    color: #000;
    font-size: 14px;
}

.signup-form .text a {
    color: #333;
}
.signup-form .text a:hover {
    color: #132d60;
    text-decoration: none;
}



/***********************************/
/***************overlay*************/
/***********************************/
.cover.overlay .overlay {
    color: #fff;
    font-family: "Play", sans-serif;
}

.cover.overlay .overlay a {
    color: #fff;
    text-decoration: none;
}
/*****************************/
/*************hero************/
/*****************************/
.hero  {
	background: url(../images/bg1.jpg) no-repeat;
	background-size: cover;
	padding-top:  15%;
	padding-bottom: 15%;
}

.hero input.form-control {
	padding: 23px 30px; 
	background-color: rgb(255, 255, 255); 
	border: 1px solid rgb(204, 204, 204); 
	border-radius: 6px; 
	width: 100%;
}
.hero button {
	height: 46px; 
	background-color: #132d60;
	color: #eae4e4d9;
	width: 100%;
}
.hero button:hover {
	color: #fff;
}
.hero .cs-btn {
	background: #040404;
	color: #fff;
}
.hero h1 {
	font-size: 40px;
	line-height: 1.40;
	font-weight: bold;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 20px;
}

/*****************************/
/************banner***********/
/*****************************/
.banner  {
	background: #cb8d2b; /*#a1772b*/
	background-size: cover;
	padding-top:  15%;
	padding-bottom: 15%;
}
.banner input.form-control {
	padding: 23px 30px; 
	background-color: rgb(255, 255, 255); 
	border: 1px solid rgb(204, 204, 204); 
	border-radius: 6px; 
	width: 100%;
}
.banner button {
	height: 46px; 
	background-color: #132d60;
	color: #eae4e4d9;
	width: 100%;
}
.banner button:hover {
	color: #fff;
}
.banner .cs-btn {
	background: #040404;
	color: #fff;
}
.banner h1 {
	font-size: 40px;
	line-height: 1.40;
	font-weight: bold;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 20px;
}

/******************************/
/************tutors************/
/******************************/
.find-tutors {
	background: #fff;
	padding: 20px;
}
.find-tutors .custom-1 {
	padding-bottom: 20px;
}
.find-tutors .custom-1 .ct-1 ,p a {
	font-size: 18px;
	text-transform: capitalize;
	color: #000;
	font-weight: bold;
}
.find-tutors .custom-1 p a{
	color: #132d60;
}
.find-tutors .custom-1 p a:hover {
	text-decoration: none;
}
.find-tutors .right {
	float: right;
	background: #fff;
	padding: 0px;
	outline: #132d60 solid 1px;
}
.find-tutors .right input {
	background: #fff;
	width: 83%;
	border: 0px;
	border-radius: 0px;
}
.find-tutors .right button  {
	background: #fff;
	width: 15%;
	border-left: 0px;
	border-radius: 0px;
}
.tutor-features .col-md-2 {
	padding: 0px 8px;
}
.available-tutors .panel-heading h3 {
	display: block;
}
.available-tutors .panel-heading .cs-img {
	height: 30px !important;
	width: 40px !important;
	margin: 0 !important;
	display: inline-flex !important;
}
.available-tutors .panel-heading .pp-img {
	width: 25% !important;
	margin-left: 180px !important;
	margin-top: -100px !important;
}
.available-tutors .checked {
	color: gold;
}
.available-tutors input[type=checkbox].css-checkbox {
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
}
.available-tutors input[type=checkbox].css-checkbox + label.css-label {
	padding-left:40px;
	height:35px; 
	display:inline-block;
	line-height:35px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:35px;
	vertical-align:middle;
	cursor:pointer;
}
.available-tutors input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -35px;
}
.available-tutors label.css-label {
	margin-top: -65px;
	float: right;
	background-image:url(../images/csscheckbox_8e18963f69ee967a38963e6329ca386d.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.available-tutors .modal-header .panel-heading .panel-title a{
	font-size: 20px;
	line-height: 1.2;
	font-weight: bold;
} 
.available-tutors .modal-body{
	padding: 5%;
}
.available-tutors .modal-header button{
	font-family: 'Play';
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 15px;
	margin-right: 10px;
}
.available-tutors .modal-content .tutor-info {
	text-transform: capitalize;
	margin: 15px 0;
	font-size: 18px;
	font-weight: bold;
}
.available-tutors .modal-content .mod-body-title{
	text-transform: capitalize;
	font-size: 14px;
	font-weight: bold;

}


/*****************************/
/*********Teachers************/
/*****************************/
.teachers {
	text-align: center;
}

.teachers h2 {
	color:#484848;
	font-size: 36px;
	line-height: 1.17;
	font-weight: bold;
	text-transform: capitalize;
	margin-top: 0px;
	margin-bottom: 2rem;
}
.teachers p {
	font-size: 16px;
	line-height: 1.63;
	margin-bottom: 1.5rem;
}
.teachers .pro h4 {
	font-size: 18px;
	text-transform: capitalize;
	margin-top: 15px;
	font-weight: bold;
}
.teachers .pro p {
	font-size: 16px;
	text-transform: capitalize;
}

/*****************************/
/*********features************/
/*****************************/
.features , .sm-features {
	background-color: #fff;
}
.features .pr-details {
	padding: 50px;
}
.features .pr-details h2 {
	font-size: 24px;
	line-height: 1.08;
	font-weight: bold;
	text-transform: capitalize;
}
.features .pr-details p {
	color: #545454;
	font-size: 16px;
	line-height: 1.63;
}
.features .pr-details p span {
	color: #132d60;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.sm-features {
	text-align: center;
}
.sm-features .sm-ftr h3 {
	font-size: 24px;
	line-height: 1.05;
	font-weight: bold;
}
.sm-features .sm-ftr p {
	color:#545454;
	font-size: 16px;
	line-height: 1.63;
}

/*****************************/
/*********newsletter**********/
/*****************************/
.newsletter {
	background: rgb(231, 231, 231) url(../images/background_map_light_grey.png);
	width: 100%;
	padding: 50px 0px; 
}
.newsletter .title {
	color: #000;
	text-align: right;
	text-transform: capitalize;
	font-size: 24px;
	font-weight: bold;
}
.newsletter input.form-control {
	padding: 23px 30px; 
	background-color: rgb(255, 255, 255); 
	border: 1px solid rgb(204, 204, 204); 
	border-radius: 6px; 
	width: 60%;
	margin-right: 20px;
}
.newsletter button {
	height: 46px; 
	background-color: #132d60;
	color: #fff;
	width: 30%;
}

/*****************************/
/***********Lessons***********/
/*****************************/
.courses .box, .pgrs .box {
	padding: 10px 10px 15px 10px;
	border: 1px solid #efefef;
	border-radius: 5px;
	font-family: 'Play';
	letter-spacing: 1px;
}

.courses .box .box-body, .pgrs .box .box-body {
	margin-top: 5px;
	margin-left: 70px;
}
.courses .box a, .pgrs .box a {	
	text-decoration: none;
}

.courses .box .box-body i, .pgrs .box .box-body i {
	font-size: 20px;
	margin-top: -10px;
}

.pgrs .box .box-body .time {
	margin-top: -20px;
	color: #D5A044;
	font-weight: bold;
}

.pgrs .box .box-body .time p {
	margin-bottom: 0px;
}
/*****************************/
/******Account Settings*******/
/*****************************/
.courses, .account-settings {
	margin-top: 80px;
}

.account-settings .user-area button.btn {
	font-size: 24px; 
	z-index: 1;
	background-color: #fffcfc00;
}
.user-area {
	width: 80%;
	margin: auto;
	box-shadow: 2px 7px 7px #d4d4d4;
	border-radius: 10px 0;
}
.as-custom {
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
	box-shadow: 2px 7px 7px #d4d4d4;
}
.as-cus-shadow {
	border-bottom: 0px;
}
.avatar {
	position: relative;
	border-radius: 8px;
	margin: 4px;
	max-width: 100%;
	max-height: 100%;
}
.avatar .edit-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color:black;
	font-weight: bold;
	font-size: 3em;
	opacity: 0;
}
.avatar:hover .edit-overlay {
	opacity: 1;
}
.avatar:hover .avatar-img {
	opacity: 0.4;
}
.account-settings .curriculum .collapse-status {
	border: 0;
	background: #132b60;
	border-radius: 0;
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 5px 10px;
	font-size: 14px;
	color:#fff;
}

.cropit-preview {
	background-color: #f8f8f8;
	background-size: cover;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-top: 7px;
	width: 150px;
	height: 150px;
}

.cropit-preview-image-container {
	cursor: move;
}
.image-size-label {
	margin-top: 10px;
}

/*****************************/
/******Tutor connection*******/
/*****************************/
.connection {
	background: #fff;
	margin-top: 50px;
	padding: 50px 0;
}
.tutor-conection {
	width: 50%;
	text-align: center;
}
.tutor-conection .t-title {
	font-size: 26px;
	text-transform: capitalize;
	margin-bottom: 2rem;
}

/*****************************/
/*********Tutor index*********/
/*****************************/
.tutor-cover {
	font-family: "Play",sans-serif;
	background: url(../images/bg1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 15%;
	padding-bottom: 20%;

}
.tutor-overlay {
	text-align: center;
}
.tutor-overlay p {
	font-size: 22px;
	color: #fff;
	font-family: "Montserrat",sans-serif;
	font-weight: 300; 
	margin: 15px;
}
.tutor-overlay h1 {
	font-size: 48px;
	letter-spacing: 1px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 44px;
	margin: 20px;
}
.tutor-overlay .btn-cs {
	width: 20%;
	background: #132d60;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1.5px;
	text-transform: capitalize;
	padding: 15px 0;
}
.tutor-overlay .btn-cs:hover {
	color: #a1772b;
	font-weight: normal;
	letter-spacing: 1px;
}
.tutor-details {
	text-align: center;
	background-color: #fff;
	font-family: "Play",sans-serif;
}
.tutor-details h2 {
	font-size: 38.8px;
	line-height: 1.2;
	margin: 20px 0;
}
.tutor-details h3 {
	font-size: 18px;
	line-height: 1.2;
	margin: 20px 0;
	font-weight: bold;
}
.tutor-details .card .glyphicon {
	font-size: 56px;
	margin: 4rem 0;
	color: #132d60;
}
.tutor-details .card .icon-title {
	font-size: 25.6px;
	margin-bottom: 15px;
}
.tutor-details .card .icon-text {
	font-size: 15.6px;
	margin-bottom: 15px;
}
.tutor-details .btn-cs {
	width: 20%;
	padding: 10px 0;
	margin-top: 20px;
	background: #132d60;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-transform: capitalize;
}
.tutor-details .btn-cs:hover {
	color: #a1772b;
	font-weight: normal;
}

/*****************************/
/***********Progress**********/
/*****************************/
.pgrs {
	margin-top: 85px;
}
.pgrs .dropdown-menu {
	top: 20%;
	left: 35%;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.175);
}

/*****************************/
/*******Tutor Dashboard*******/
/*****************************/
.navbar-dsb .navbar-nav > li > a {
	padding: 0 15px;
	line-height: 60px;
	font-size: 16px;
	font-weight: bold;
	text-transform: capitalize;
}
.tutor-checklist {
	margin-top: 80px;
}
.tutor-checklist .checkbox {
	margin: 30px 0px;
}	
.switch {
	position: relative;
	display: inline-block;
	width: 90px;
	height: 34px;
}
.switch input {
	display:none;
}
.ring-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ca2222;
	-webkit-transition: .4s;
	transition: .4s;
	 border-radius: 34px;
}
.ring-slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}
input:checked + .ring-slider {
	background-color: #132d60;
}
input:focus + .ring-slider {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .ring-slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(55px);
}
.ring-slider:after {
	content:'Silent';
	color: white;
	display: block;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 65%;
	font-size: 10px;
	font-family: Verdana, sans-serif;
}
input:checked + .ring-slider:after {  
	content:'On Tone';
	left: 35%;
}
/*****************************/
/**********version1***********/
/*****************************/
.navbar {
    font-family: 'Oswald', sans-serif;
	font-weight: 600;
}

.width-80pc {
	width: 80% !important;
}
@media (max-width: 767px) {
	.navbar-nav > li > a {
	    line-height: 30px !important;
	    font-size: 18px !important;
	    letter-spacing: 1px !important;
	}
}
/*****************************/
/***********Footer************/
/*****************************/
.footer {
	font-family: "play", sans-serif;
	font-weight: 700;
	background: #132d60;
	display: block;
	color: #fff;
	letter-spacing: 1px;
}
.footer-top{
	height: auto;
	padding: 35px 0px 0px;
}
.footer-top .information{
	list-style-type: none;
	padding-left: 0px;
}
.footer-top .ft-title {
	color: #fff;
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: 700;
	text-align: left;
}
.footer-top .information a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	padding-top: 10px;
}
.footer-top .information a:hover {
	color: #a1772b;
}
.footer .footer-bottom {
	font-size: 18px;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 15px;
	text-align: center;
	border-top: 1px solid #fff;
}
.footer .social-icons {
	font-size: 18px;
	text-align: center;
}
.footer .footer-bottom .social-icons a {
	color: #FFF;
}
.footer .footer-bottom .social-icons a:hover {
	color: #a1772b;
}

.library button a {
	color: #fff;
	text-decoration: none; 
}

.news .panel:last-child {
    margin-bottom: 30px;
}

.news .panel-body {
    transition: .5s ease-in-out;
}

.news .panel-body:hover {
    box-shadow: 5px 10px 10px #d2d2d2;
}
.news .panel-body .media-left, .media > .pull-left {
    padding-right: 20px;
}
.news .panel-body .media .media-body {
    padding: 10px 20px;
}