<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>TibYan</title>
	<link href="../css/vendor/all.css" rel="stylesheet">
	<link href="../css/app/app.css" rel="stylesheet">
	<link href="../css/custom.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<style>
	.form-control {
		background: #fff;
	}
</style>

<body>
	<div class="navbar navbar-main navbar-primary navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a href="dashboard.html"><img class="img-fluid d-block" src="../images/tibyan.png"></a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="main-nav">
				<ul class="nav navbar-nav navbar-right">
					<li role="presentation" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
							<span >English</span> <span class="caret"></span>
						</a>
						<ul id="" class="dropdown-menu" role="menu">
							<li><a href="#">English</a></li>
							<li><a href="#">العربية</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle user" data-toggle="dropdown">
							<img src="../images/people/110/guy-5.jpg" alt="Bill" class="img-circle" width="40" /> Bill <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="account-settings.html">Account Settings</a></li>
							<li><a href="#">Profile</a></li>
							<li><a href="login.html">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="account-settings">
		<div class="container">
			<!-- user header -->
			<div class="tab-content user-area">
				<div class="user">
					<div class="row">
						<div class="col-xs-12 col-sm-3" style="display: flex; justify-content: flex-end;">
							<div class="avatar avatar-preview">
								<div class="edit-overlay" style="position: absolute;">
									<button class="btn" data-toggle="tk-modal-demo" data-modal-options="slide-down" data-content-options="modal-md h-center"><span class="fa fa-pencil" style="z-index: 1;"></span></button>
								</div>
								<div class="avatar-img">
									<img src="../images/people/110/guy-5.jpg" class="img-circle">
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-9">
							<div class="name">
								<h3 class="title d-inline" style="display: inline-block;">Jon Doe</h3> 

								<!-- edit able name -->
								<span id="replyb" onClick="$('#name').toggle();" style="margin-left: 15px; font-size: 18px;"> <i class="fa fa-pencil"></i></span>
								<input type="text"  id="name" class="form-control pull-right"  placeholder="" style="display:none; background: #f7f7f7;"/>
								<p> Accound id : 122121</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- user header -->

			<!-- modal for image upload -->
		 	<script id="tk-modal-demo" type="text/x-handlebars-template">
				<div class="modal fade{{#if modalOptions}} {{ modalOptions }}{{/if}}" id="{{ id }}">
					<div class="modal-dialog{{#if dialogOptions}} {{ dialogOptions }}{{/if}}">
						<div class="v-cell">
							<div class="modal-content{{#if contentOptions}} {{ contentOptions }}{{/if}}">
								<div class="modal-header">
									<h4 class="modal-title">Change Your Profile Picture</h4>
								</div>
								<div class="modal-body">
									<div class="panel panel-default">
										<div class="panel-body">
											<div class="pic" style="overflow: hidden; width:200px;">
												<img id="image" src="" alt="" width="200" height="200" >
											</div>
											<p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
											<label class="btn btn-primary" for="file" style="cursor: pointer;">Upload Image</label>
											<p class="margin-v-15">Resize your picture</p>
											<input type=range value=1 max=2 min=1 step="0.01"  onchange="zoom('image',this.value);" style="width: 38%;">
										</div>
									</div> 
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</script>
			<!-- modal for image upload -->

			<!-- User Profile -->
			<h5></h5>

			<div class="panel panel-default curriculum open as-custom">
				<div class="panel-heading panel-heading-gray as-cus-shadow" data-toggle="collapse" data-target="#curriculum-3">
					<div class="media">
						<span class="icon-block half pull-left"><i class="fa fa-user"></i></span>
						<div class="media-body">
							<h4 class="media-heading">Profile</h4>
						</div>
					</div>
					<span class="collapse-status collapse-open"><i class="fa fa-plus"></i></span>
					<span class="collapse-status collapse-close"><i class="fa fa-minus"></i></span>
				</div>
				<div class="list-group collapse in" id="curriculum-3">
					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">From</td>
										<td class="">
											<div class="form-group">
												<p >London</p>
												<input type="text"  id="form" class="form-control pull-right"  placeholder="" style="display:none; background: #fff;"/>
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="replyb" onClick="$('#form').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200"> English Dialect/Accent </td>
										<td class="">
											<div class="form-group">
												<p >Native American</p>
												<input type="text"  id="language" class="form-control pull-right"  placeholder="" style="display:none;"/>
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="replyb" onClick="$('#language').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">About Me</td>
										<td class="">
											<div class="form-group">
												<p >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
												<input type="text"  id="about" class="form-control pull-right"  placeholder="" style="display:none;"/>
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="replyb" onClick="$('#about').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">Education</td>
										<td class="">
											<div class="form-group">
												<p >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
												<input type="text"  id="education" class="form-control pull-right"  placeholder="" style="display:none;"/>
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="replyb" onClick="$('#education').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">Experience</td>
										<td class="">
											<div class="form-group">
												<p >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
												<input type="text"  id="experience" class="form-control pull-right"  placeholder="" style="display:none;"/>
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="replyb" onClick="$('#experience').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">Current or Previous Profession</td>
										<td class="">
											<div class="form-group">
												<p >Teacher</p>
												<input type="text"  id="teacher" class="form-control pull-right"  placeholder="" style="display:none;"/>
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="replyb" onClick="$('#teacher').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">Languages I Speak</td>
										<td class="">
											<div class="form-group">
												<p >What languages do you speak?</p>
												<div class="row">
													<div class="col-md-5">
														<div class="form-group">
															<label for="wiz-about">Language:</label>
															<p >English</p>
														</div>
													</div>
													<div class="col-md-5">
														<div class="form-group">
															<label for="wiz-about">Fluency:</label>
															<p >Native</p>
														</div>
													</div>
												</div>

												<div class="row" id="lang" style="display:none;">
													<div class="col-md-5">
														<div class="form-group">
															<input type="text"  id="" class="form-control pull-right"  placeholder="Language:" style=""/>
														</div>
													</div>
													<div class="col-md-5">
														<div class="form-group">
															<input type="text"   class="form-control pull-right"  placeholder="Fluency:" style=""/>
														</div>
													</div>
													<div class="col-md-2">
														<button type="submit" class="btn btn-primary" style="background-color: #132d60;"> Save </button>
													</div>
												</div>
												
												<p class="margin-v-15" onClick="$('#lang').toggle();" style=" font-size: 16px;"><i class="fa fa-fw fa-plus"></i> Add Languages</p>

											</div>
										</td>
										<td class="text-right"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">Teaching Certificates (ooptional)</td>
										<td class="">
											<div class="form-group">
												<p >Tibyan doesn't require any teaching certifications, but many students look for tutors with formal training. Add any teaching certificates you've earned such as TESOL, TEFL, CELTA, SLAT, etc.</p>
												<input type="text"  id="tech" class="form-control pull-right"  placeholder="" style="display:none;"/>
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="replyb" onClick="$('#tech').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">Why i,m Here?</td>
										<td class="">
											<div class="form-group">
												<p >Tibyan doesn't require any teaching certifications, but many students look for tutors with formal training. Add any teaching certificates you've earned such as TESOL, TEFL, CELTA, SLAT, etc.</p>
												<input type="text"  id="reply" class="form-control pull-right"  placeholder="" style="display:none;"/>
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="replyb" onClick="$('#reply').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">Who I Teach?</td>
										<td class="">
											<div class="form-group">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
												<input type="text"  id="itech" class="form-control pull-right"  placeholder="Introduction" style="display:none;"/>
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="replyb" onClick="$('#itech').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">My Tutoring Style</td>
										<td>
											<div class="form-group">
												<div class="panel-body">
													<div class="radio radio-inline radio-primary">
														<input type="radio" id="inlineRadio1" value="option1" name="radioInline">
														<label for="inlineRadio1">Kind & patient</label>
													</div>
													<div class="radio radio-inline radio-primary">
														<input type="radio" id="inlineRadio2" value="option2" name="radioInline">
														<label for="inlineRadio2">Fun & gregarious</label>
													</div>
													<div class="radio radio-inline radio-primary">
														<input type="radio" id="inlineRadio3" value="option3" name="radioInline">
														<label for="inlineRadio3">Scholarly & knowledgeable</label>
													</div>
												</div>
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="replyb" onClick="$('#').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">I am best at teaching students who are:</td>
										<td>
											<div class="form-group">
												<div class="panel-body">
													<div class="radio radio-inline radio-primary">
														<input type="radio" id="inlineRadio4" value="option4" name="radioInline1">
														<label for="inlineRadio4">Beginner</label>
													</div>
													<div class="radio radio-inline radio-primary">
														<input type="radio" id="inlineRadio5" value="option5" name="radioInline1">
														<label for="inlineRadio5">Intermidiate</label>
													</div>
													<div class="radio radio-inline radio-primary">
														<input type="radio" id="inlineRadio6" value="option6" name="radioInline1">
														<label for="inlineRadio6">Advanced</label>
													</div>
												</div>
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="" onClick="$('#').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">My specialties are: (select up to five)</td>
										<td class="">
											<div class="panel-body">
												<div class="row">
													<div class="col-sm-6 col-md-4">
														<div class="checkbox checkbox-primary">
															<input id="checkbox1" type="checkbox">
															<label for="checkbox1">Friendly conversation</label>
														</div>
														<div class="checkbox checkbox-primary">
															<input id="checkbox2" type="checkbox">
															<label for="checkbox2">Business English</label>
														</div>
														<div class="checkbox checkbox-primary">
															<input id="checkbox3" type="checkbox">
															<label for="checkbox3">Public speaking</label>
														</div>
													</div>
													<div class="col-sm-6 col-md-4">
														<div class="checkbox checkbox-primary">
															<input id="checkbox4" type="checkbox">
															<label for="checkbox4">Test prep (IELTS, TOEFL, etc.)</label>
														</div>
														<div class="checkbox checkbox-primary">
															<input id="checkbox5" type="checkbox">
															<label for="checkbox5">Grammar instruction</label>
														</div>
														<div class="checkbox checkbox-primary">
															<input id="checkbox6" type="checkbox">
															<label for="checkbox6">Accent coaching</label>
														</div>
													</div>
													<div class="col-sm-6 col-md-4">
														<div class="checkbox checkbox-primary">
															<input id="checkbox7" type="checkbox">
															<label for="checkbox7">Correcting speech</label>
														</div>
														<div class="checkbox checkbox-primary">
															<input id="checkbox8" type="checkbox">
															<label for="checkbox8">Discussing current events</label>
														</div>
														<div class="checkbox checkbox-primary">
															<input id="checkbox9" type="checkbox">
															<label for="checkbox9">Vocational lessons</label>
														</div>
													</div>
												</div>
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="" onClick="$('#').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="list-acc-item" data-target="#" style="background: #fff; color: #000;">
						<div class="page-section-heading">
							<h2 class="text-h3 margin-v-0">Introduce yourself</h2>
						</div>
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="media media-clearfix-xs-min">
									<div class="media-body">
										<h3 class="media-heading h4" style="border-bottom: 1px solid #151515; padding: 0 0 10px;"><a href="#">INTRODUCTION FOR ADULT STUDENTS</a></h3>
										<div class="buttons" style="margin-top: 140px;">
											<input type="file" id="file" style="display:none;" />
											<button id="button" name="button" value="Upload" onclick="thisFileUpload();">Upload</button>
											Or
											<button id="button" name="button" value="Upload">Record</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 text-right">
							<button type="button" class="wiz-step btn btn-primary" onclick="window.location.href = '';" style="margin-bottom: 20px;" data-target="0">Save</button>
						</div>
					</div>
				</div>
			</div>
			<!-- user header -->

			<!-- Account Settings -->
			<div class="panel panel-default curriculum as-custom">
				<div class="panel-heading panel-heading-gray as-cus-shadow" data-toggle="collapse" data-target="#curriculum-2">
					<div class="media">
						<span class="icon-block half pull-left"><i class="fa fa-fw icon-user-1"></i></span>
						<div class="media-body">
							<h4 class="media-heading">Account</h4>
						</div>
					</div>
					<span class="collapse-status collapse-open"><i class="fa fa-plus"></i></span>
					<span class="collapse-status collapse-close"><i class="fa fa-minus"></i></span>
				</div>
				<div class="list-group collapse" id="curriculum-2">
					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">First Name</td>
										<td class="">
											<div class="form-group">
												<p >Jon </p>
												<input type="text"  id="fname" class="form-control pull-right"  placeholder="" style="display:none;"/>
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="replyb" onClick="$('#fname').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">Last Name</td>
										<td class="">
											<div class="form-group">
												<p >Doe </p>
												<input type="text"  id="lname" class="form-control pull-right"  placeholder="" style="display:none;"/>
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="replyb" onClick="$('#lname').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">Email</td>
										<td class="">
											<div class="form-group">
												<p >asd@gmail.com <i class="md md-verified-user"></i></p>
												<input type="text"  id="Email" class="form-control pull-right"  placeholder="" style="display:none;"/>
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="replyb" onClick="$('#Email').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">Password</td>
										<td class="">
											<div class="form-group">
												<p >****** <i class="md md-lock-outline"></i></p>
												<input type="text"  id="Password" class="form-control pull-right"  placeholder="" style="display:none;"/>
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="replyb" onClick="$('#Password').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">Mobile Number</td>
										<td class="">
											<div class="form-group">
												<p> +1546852 <i class=""></i></p>
												<input type="text"  id="Number" class="form-control pull-right"  placeholder="" style="display:none;"/>
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="replyb" onClick="$('#Number').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- account settings -->
			<div class="panel panel-default curriculum as-custom">
				<div class="panel-heading panel-heading-gray as-cus-shadow" data-toggle="collapse" data-target="#curriculum-1">
					<div class="media">
						<span class="icon-block half pull-left"><i class="fa fa-cogs"></i></span>
						<div class="media-body">
							<h4 class="media-heading">Settings</h4>
							
						</div>
					</div>
					<span class="collapse-status collapse-open"><i class="fa fa-plus"></i></span>
					<span class="collapse-status collapse-close"><i class="fa fa-minus"></i></span>

				</div>
				<div class="list-group collapse" id="curriculum-1">
					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">Language</td>
										<td class="">
											<div class="form-group">
												<p >English </p>
												<div id="region" class="row" style="display:none;">
													<div class="col-md-10">
														<select class="form-control width-500">
															<option value="Ar">Arabic</option>
															<option value="En">English</option>
														</select>
													</div>
													<div class="col-md-2">
														<button type="submit" class="btn btn-primary" onClick="$('#region').toggle();"> Save</button>
													</div>
												</div>
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="replyb" onClick="$('#region').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">Location</td>
										<td class="">
											<div class="form-group">
												<p> England </p>
												<div id="country" class="row" style="display:none;">
													<div class="col-md-10">
														<select class="form-control width-500">
															<option>Select</option>
															<option value="AF">Afghanistan</option>
															<option value="AX">Åland Islands</option>
															<option value="AL">Albania</option>
															<option value="DZ">Algeria</option>
															<option value="AS">American Samoa</option>
															<option value="AD">Andorra</option>
															<option value="AO">Angola</option>
															<option value="AI">Anguilla</option>
															<option value="AQ">Antarctica</option>
															<option value="AG">Antigua and Barbuda</option>
															<option value="AR">Argentina</option>
															<option value="AM">Armenia</option>
															<option value="AW">Aruba</option>
															<option value="AU">Australia</option>
															<option value="AT">Austria</option>
															<option value="AZ">Azerbaijan</option>
															<option value="BS">Bahamas</option>
															<option value="BH">Bahrain</option>
															<option value="BD">Bangladesh</option>
															<option value="BB">Barbados</option>
															<option value="BY">Belarus</option>
															<option value="BE">Belgium</option>
															<option value="BZ">Belize</option>
															<option value="BJ">Benin</option>
															<option value="BM">Bermuda</option>
															<option value="BT">Bhutan</option>
															<option value="BO">Bolivia, Plurinational State of</option>
															<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
															<option value="BA">Bosnia and Herzegovina</option>
															<option value="BW">Botswana</option>
															<option value="BV">Bouvet Island</option>
															<option value="BR">Brazil</option>
															<option value="IO">British Indian Ocean Territory</option>
															<option value="BN">Brunei Darussalam</option>
															<option value="BG">Bulgaria</option>
															<option value="BF">Burkina Faso</option>
															<option value="BI">Burundi</option>
															<option value="KH">Cambodia</option>
															<option value="CM">Cameroon</option>
															<option value="CA">Canada</option>
															<option value="CV">Cape Verde</option>
															<option value="KY">Cayman Islands</option>
															<option value="CF">Central African Republic</option>
															<option value="TD">Chad</option>
															<option value="CL">Chile</option>
															<option value="CN">China</option>
															<option value="CX">Christmas Island</option>
															<option value="CC">Cocos (Keeling) Islands</option>
															<option value="CO">Colombia</option>
															<option value="KM">Comoros</option>
															<option value="CG">Congo</option>
															<option value="CD">Congo, the Democratic Republic of the</option>
															<option value="CK">Cook Islands</option>
															<option value="CR">Costa Rica</option>
															<option value="CI">Côte d'Ivoire</option>
															<option value="HR">Croatia</option>
															<option value="CU">Cuba</option>
															<option value="CW">Curaçao</option>
															<option value="CY">Cyprus</option>
															<option value="CZ">Czech Republic</option>
															<option value="DK">Denmark</option>
															<option value="DJ">Djibouti</option>
															<option value="DM">Dominica</option>
															<option value="DO">Dominican Republic</option>
															<option value="EC">Ecuador</option>
															<option value="EG">Egypt</option>
															<option value="SV">El Salvador</option>
															<option value="GQ">Equatorial Guinea</option>
															<option value="ER">Eritrea</option>
															<option value="EE">Estonia</option>
															<option value="ET">Ethiopia</option>
															<option value="FK">Falkland Islands (Malvinas)</option>
															<option value="FO">Faroe Islands</option>
															<option value="FJ">Fiji</option>
															<option value="FI">Finland</option>
															<option value="FR">France</option>
															<option value="GF">French Guiana</option>
															<option value="PF">French Polynesia</option>
															<option value="TF">French Southern Territories</option>
															<option value="GA">Gabon</option>
															<option value="GM">Gambia</option>
															<option value="GE">Georgia</option>
															<option value="DE">Germany</option>
															<option value="GH">Ghana</option>
															<option value="GI">Gibraltar</option>
															<option value="GR">Greece</option>
															<option value="GL">Greenland</option>
															<option value="GD">Grenada</option>
															<option value="GP">Guadeloupe</option>
															<option value="GU">Guam</option>
															<option value="GT">Guatemala</option>
															<option value="GG">Guernsey</option>
															<option value="GN">Guinea</option>
															<option value="GW">Guinea-Bissau</option>
															<option value="GY">Guyana</option>
															<option value="HT">Haiti</option>
															<option value="HM">Heard Island and McDonald Islands</option>
															<option value="VA">Holy See (Vatican City State)</option>
															<option value="HN">Honduras</option>
															<option value="HK">Hong Kong</option>
															<option value="HU">Hungary</option>
															<option value="IS">Iceland</option>
															<option value="IN">India</option>
															<option value="ID">Indonesia</option>
															<option value="IR">Iran, Islamic Republic of</option>
															<option value="IQ">Iraq</option>
															<option value="IE">Ireland</option>
															<option value="IM">Isle of Man</option>
															<option value="IL">Israel</option>
															<option value="IT">Italy</option>
															<option value="JM">Jamaica</option>
															<option value="JP">Japan</option>
															<option value="JE">Jersey</option>
															<option value="JO">Jordan</option>
															<option value="KZ">Kazakhstan</option>
															<option value="KE">Kenya</option>
															<option value="KI">Kiribati</option>
															<option value="KP">Korea, Democratic People's Republic of</option>
															<option value="KR">Korea, Republic of</option>
															<option value="KW">Kuwait</option>
															<option value="KG">Kyrgyzstan</option>
															<option value="LA">Lao People's Democratic Republic</option>
															<option value="LV">Latvia</option>
															<option value="LB">Lebanon</option>
															<option value="LS">Lesotho</option>
															<option value="LR">Liberia</option>
															<option value="LY">Libya</option>
															<option value="LI">Liechtenstein</option>
															<option value="LT">Lithuania</option>
															<option value="LU">Luxembourg</option>
															<option value="MO">Macao</option>
															<option value="MK">Macedonia, the former Yugoslav Republic of</option>
															<option value="MG">Madagascar</option>
															<option value="MW">Malawi</option>
															<option value="MY">Malaysia</option>
															<option value="MV">Maldives</option>
															<option value="ML">Mali</option>
															<option value="MT">Malta</option>
															<option value="MH">Marshall Islands</option>
															<option value="MQ">Martinique</option>
															<option value="MR">Mauritania</option>
															<option value="MU">Mauritius</option>
															<option value="YT">Mayotte</option>
															<option value="MX">Mexico</option>
															<option value="FM">Micronesia, Federated States of</option>
															<option value="MD">Moldova, Republic of</option>
															<option value="MC">Monaco</option>
															<option value="MN">Mongolia</option>
															<option value="ME">Montenegro</option>
															<option value="MS">Montserrat</option>
															<option value="MA">Morocco</option>
															<option value="MZ">Mozambique</option>
															<option value="MM">Myanmar</option>
															<option value="NA">Namibia</option>
															<option value="NR">Nauru</option>
															<option value="NP">Nepal</option>
															<option value="NL">Netherlands</option>
															<option value="NC">New Caledonia</option>
															<option value="NZ">New Zealand</option>
															<option value="NI">Nicaragua</option>
															<option value="NE">Niger</option>
															<option value="NG">Nigeria</option>
															<option value="NU">Niue</option>
															<option value="NF">Norfolk Island</option>
															<option value="MP">Northern Mariana Islands</option>
															<option value="NO">Norway</option>
															<option value="OM">Oman</option>
															<option value="PK">Pakistan</option>
															<option value="PW">Palau</option>
															<option value="PS">Palestinian Territory, Occupied</option>
															<option value="PA">Panama</option>
															<option value="PG">Papua New Guinea</option>
															<option value="PY">Paraguay</option>
															<option value="PE">Peru</option>
															<option value="PH">Philippines</option>
															<option value="PN">Pitcairn</option>
															<option value="PL">Poland</option>
															<option value="PT">Portugal</option>
															<option value="PR">Puerto Rico</option>
															<option value="QA">Qatar</option>
															<option value="RE">Réunion</option>
															<option value="RO">Romania</option>
															<option value="RU">Russian Federation</option>
															<option value="RW">Rwanda</option>
															<option value="BL">Saint Barthélemy</option>
															<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
															<option value="KN">Saint Kitts and Nevis</option>
															<option value="LC">Saint Lucia</option>
															<option value="MF">Saint Martin (French part)</option>
															<option value="PM">Saint Pierre and Miquelon</option>
															<option value="VC">Saint Vincent and the Grenadines</option>
															<option value="WS">Samoa</option>
															<option value="SM">San Marino</option>
															<option value="ST">Sao Tome and Principe</option>
															<option value="SA">Saudi Arabia</option>
															<option value="SN">Senegal</option>
															<option value="RS">Serbia</option>
															<option value="SC">Seychelles</option>
															<option value="SL">Sierra Leone</option>
															<option value="SG">Singapore</option>
															<option value="SX">Sint Maarten (Dutch part)</option>
															<option value="SK">Slovakia</option>
															<option value="SI">Slovenia</option>
															<option value="SB">Solomon Islands</option>
															<option value="SO">Somalia</option>
															<option value="ZA">South Africa</option>
															<option value="GS">South Georgia and the South Sandwich Islands</option>
															<option value="SS">South Sudan</option>
															<option value="ES">Spain</option>
															<option value="LK">Sri Lanka</option>
															<option value="SD">Sudan</option>
															<option value="SR">Suriname</option>
															<option value="SJ">Svalbard and Jan Mayen</option>
															<option value="SZ">Swaziland</option>
															<option value="SE">Sweden</option>
															<option value="CH">Switzerland</option>
															<option value="SY">Syrian Arab Republic</option>
															<option value="TW">Taiwan, Province of China</option>
															<option value="TJ">Tajikistan</option>
															<option value="TZ">Tanzania, United Republic of</option>
															<option value="TH">Thailand</option>
															<option value="TL">Timor-Leste</option>
															<option value="TG">Togo</option>
															<option value="TK">Tokelau</option>
															<option value="TO">Tonga</option>
															<option value="TT">Trinidad and Tobago</option>
															<option value="TN">Tunisia</option>
															<option value="TR">Turkey</option>
															<option value="TM">Turkmenistan</option>
															<option value="TC">Turks and Caicos Islands</option>
															<option value="TV">Tuvalu</option>
															<option value="UG">Uganda</option>
															<option value="UA">Ukraine</option>
															<option value="AE">United Arab Emirates</option>
															<option value="GB">United Kingdom</option>
															<option value="US">United States</option>
															<option value="UM">United States Minor Outlying Islands</option>
															<option value="UY">Uruguay</option>
															<option value="UZ">Uzbekistan</option>
															<option value="VU">Vanuatu</option>
															<option value="VE">Venezuela, Bolivarian Republic of</option>
															<option value="VN">Viet Nam</option>
															<option value="VG">Virgin Islands, British</option>
															<option value="VI">Virgin Islands, U.S.</option>
															<option value="WF">Wallis and Futuna</option>
															<option value="EH">Western Sahara</option>
															<option value="YE">Yemen</option>
															<option value="ZM">Zambia</option>
															<option value="ZW">Zimbabwe</option>
														</select>
													</div>
													<div class="col-md-2">
														<button type="submit" class="btn btn-primary" onClick="$('#country').toggle();"> Save</button>
													</div>
												</div>
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="replyb" onClick="$('#country').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div class="list-acc-item" data-target="#">
						<div class="table-responsive">
							<table class="table table-condensed table-borderless margin-none">
								<tbody>
									<tr>
										<td class="w200">Time Zone</td>
										<td class="">
											<div class="form-group">
												<p> London <i class="md md-verified-user"></i></p> 
												<!-- its changed input to select change  -->
												<div id="timezone" class="row" style="display: none;">
													<div class="col-md-10">
														<select class="form-control js-Selector width-500"></select>
													</div>
													<div class="col-md-2">
														<button type="submit" class="btn btn-primary" onClick="$('#timezone').toggle();"> Save</button>
													</div>
												</div>
												<!-- its changed input to select change  -->
											</div>
										</td>
										<td class="text-right"><span class="btn reply" id="replyb" onClick="$('#timezone').toggle();"><i class="fa fa-pencil"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<footer class="footer">
		<!-- footer top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="info">
							<ul class="information">
								<li class="ft-title">Company</li>
								<li class=""><a href="">Jobs</a></li>
								<li class=""><a href="">Circular</a></li>
								<li class=""><a href="">Join US</a></li>
								<li class=""><a href="">Terms & Conditions</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						<div class="info">
							<ul class="information">
								<li class="ft-title">Resources</li>
								<li class=""><a href="">Blog</a></li>
								<li class=""><a href="">Support</a></li>
								<li class=""><a href="">Organizations</a></li>
								<li class=""><a href="">Contact Us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						<div class="info">
							<ul class="information">
								<li class="ft-title">Social</li>
								<li class=""><a href=""><i class="fa fa-fw fa-facebook"></i> Facebook</a></li>
								<li class=""><a href=""><i class="fa fa-fw fa-instagram"></i> Instagram</a></li>
								<li class=""><a href=""><i class="fa fa-fw fa-twitter"></i> Twitter</a></li>
								<li class=""><a href=""><i class="fa fa-fw fa-youtube"></i> Youtube</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer top -->
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col col-xs-12 ">
						<div class="credits">
							<p>Tibyan. © Copyright 2020. All Rights Reserved.</p>
						</div>
					</div>
					<div class="col col-xs-12">
						<div class="social-icons">
							<a href="#"><i class="fa fa-fw fa-facebook"></i></a>
							<a href="#"><i class="fa fa-fw fa-twitter"></i></a>
							<a href="#"><i class="fa fa-fw fa-whatsapp"></i></a>
						</div>  
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer -->

	<script>
		var loadFile = function(event) {
			var image = document.getElementById('image');
			image.src = URL.createObjectURL(event.target.files[0]);
		};
		function zoom(_target,_scale) {
			document.getElementById(_target).style.transform = "scale("+_scale+")";
		}
		function thisFileUpload() {
			document.getElementById("file").click();
		};
		$("input:checkbox").click(function() {
			var bol = $("input:checkbox:checked").length >= 5;
			$("input:checkbox").not(":checked").attr("disabled",bol);
		});
	</script>

	<script src="../js/vendor/all.js"></script>
	<script src="../js/app/app.js"></script>
    <!-- moment js added-->
    <script src="../js/app/moment.js"></script>
    <!-- moment js added-->

</body>

</html>